dist:
{
    "type": "mysql",
    "host": "localhost",
    "port": 3306,
    "username": "myusername",
    "password": "mypassword",
    "database": "mydatabase",
    "entities": [
        "src/**/**.entity{.ts,.js}"
    ],
    "synchronize": true
}