{
    "type": "mysql",
    "host": "localhost",
    "port": 3306,
    "username": "myusername",
    "password": "mypassword",
    "database": "mydatabase",
    "entities": [
        "src/**/**.entity{.ts,.js}"
    ],
    "migrations": [
        "src/migration/*{.ts,.js}"
    ],
    "cli": {
        "migrationsDir": "src/migration"
    }
}