NODE_ENV=dev
# PORT=3000
USE_API_BASE_PATH=false
# FILE_UPLOAD_LIMIT=
# APPLICATION_NAME=

## Flag is shared between API and UI
USE_CERN_SSO=false

## API DB credentials
# TYPEORM_CONNECTION=mysql
TYPEORM_HOST=
TYPEORM_USERNAME=
TYPEORM_PASSWORD=
TYPEORM_DATABASE=
# TYPEORM_PORT=
# TYPEORM_SYNCHRONIZE=true
# TYPEORM_LOGGING=false

## OAuth settings
CLIENT_ID= 
CLIENT_SECRET= 

## Extra OAuth settings for CERN
CERN_REGISTERED_URI=

## Variables for the UI endpoint
AUTH_REDIRECT_URI= 

## JWT
JWT_SECRET_KEY= 
JWT_EXPIRE_TIME= 1h
SUB_SYSTEM_TOKEN_EXPIRES_IN= 365 days

## InfoLogger
# USE_INFO_LOGGER= false

## Test DB credentials used when running `$ npm test`
# TEST_DB_CONNECTION= mysql
TEST_DB_HOST= localhost
TEST_DB_USERNAME=
TEST_DB_PASSWORD=
# TEST_DB_DATABASE=
# TEST_DB_PORT= 3306
# TEST_DB_SYNCHRONIZE= true
# TEST_DB_LOGGING= true
