NODE_ENV=dev
PORT=3000
USE_API_PREFIX=false

# OAuth 2.0 variables
CLIENT_ID=
CLIENT_SECRET=
AUTH_TOKEN_HOST=https://github.com
AUTH_TOKEN_PATH=/login/oauth/access_token
RESOURCE_API_URL=https://api.github.com/user

# JWT
JWT_SECRET_KEY=
JWT_EXPIRE_TIME=3600
SUB_SYSTEM_TOKEN_EXPIRES_IN=365 days
