NODE_ENV=staging
PORT=3001
USE_API_PREFIX=true

# Flag is shared between API and UI
USE_CERN_SSO=yes

# OAuth 2.0 CERN variables
CERN_CLIENT_ID=
CERN_CLIENT_SECRET=
CERN_AUTH_TOKEN_HOST=https://oauth.web.cern.ch/
CERN_AUTH_TOKEN_PATH=Oauth/Token
CERN_RESOURCE_API_URL=https://oauthresource.web.cern.ch/api/User

# OAuth 2.0 Github variables
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_AUTH_TOKEN_HOST=https://github.com
GITHUB_AUTH_TOKEN_PATH=/login/oauth/access_token
GITHUB_RESOURCE_API_URL=https://api.github.com/user

# JWT
JWT_SECRET_KEY=
JWT_EXPIRE_TIME=1h
SUB_SYSTEM_TOKEN_EXPIRES_IN=365 days

# InfoLogger
USE_INFO_LOGGER=false

# Test DB credentials used when running `$ npm test`
TEST_DB_CONNECTION=mysql
TEST_DB_HOST=localhost
TEST_DB_USERNAME=
TEST_DB_PASSWORD=
TEST_DB_DATABASE=jiskefet_test
TEST_DB_PORT=3306
TEST_DB_SYNCHRONIZE=true
TEST_DB_LOGGING=true
TEST_DB_ENTITIES=src/**/**.entity{.ts,.js}

# Variables for the UI endpoint
GITHUB_AUTH_URL=https://github.com/login/oauth/authorize?response_type=code&client_id=<CLIENT_ID_HERE>&redirect_uri=http://localhost:8080/callback&state=yx_4404.!dcbR%40YR44yQ
CERN_AUTH_URL=https://oauth.web.cern.ch/OAuth/Authorize?response_type=code&client_id=<CLIENT_ID_HERE>&redirect_uri=http://127.0.0.1:8080/callback
