<!DOCTYPE html>
<html dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<style>
body
{
	margin: 0;
}
.flex-container
{
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.header
{
	margin-bottom: 30px;
}
input
{
	border-radius: 5px;
	float: right
}
textarea
{
	height: 120px;
	width: 95%;
	padding: 5px;
	margin: 8px 0;
	border-radius: 5px;
}
</style>
    <title>Document</title>
  </head>
  <body>
	
	
	<div class="header">
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="http://jiskefetmejay.std-871.ist.mospolytech.ru/index.html">Jiskefet</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Сharts
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/createpdf/loginfo">Log info</a>
          <a class="dropdown-item" href="/createpdf/runconf">Run configuration</a>
          <a class="dropdown-item" href="http://jiskefetmejay.std-871.ist.mospolytech.ru/right_now.html">Second pages</a>
         <a class="dropdown-item" href="http://jiskefetmejay.std-871.ist.mospolytech.ru/help.html">Help</a>
     <a class="dropdown-item" href="#">PDF report</a>
          
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
</div>

	
	<div class="flex-container">
	<div class="form">
    <p>Please enter your first name and last name.</p>
    <form method="POST" action="/createpdf/downloadPDF">
      <label for="txtFirstname">First name:</label>
      <input type="text" id="txtFirstname" name="fname">

      <br>
      <br>

      <label for="txtLastName">Last Name:</label>
      <input type="text" id="txtLastName" name="lname">

      <br>
      <br>

      <label for="txtOccupation">Occupation:</label>
      <select name="occupation" id="txtOccupation">
        <option value="Student">Student</option>
        <option value="Scientist">Scientist</option>
 	<option value="Worker">Worker</option>
	<option value="Chief">Chief</option>
      </select>

      <br>
      <br>
      <p style="text-align: center;"><strong>Bug report</strong></p>
      <label for="txtBugReport">Bug message:</label>
      <br>
      <textarea  id="txtPost" name="bugReport"></textarea>
      <br>
      <br>

      <button type="submit"> Create PDF</button>
    </form>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

  </body>
</html>
